// General
.main-page {
	margin: ($base-size * 3.5) auto;
	background: $color-light;
	border-radius: $radius;
}

// Order and book a table section
.top-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	.order-online,
	.book-table {
		position: relative;
		height: 100px;
		width: 320px;
		margin-top: 1rem;
		.text-order,
		.text-book {
			color: $color-light;
			text-transform: uppercase;
			margin: 0;
			font-size: 1.5rem;
			font-family: $font-header;
			font-weight: $font-normal;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.img-link {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				z-index: -2;
				border-radius: 5px;
			}
			P {
				text-transform: uppercase;
			}
			.sub-text {
				color: $color-light;
				margin: 0;
				font-size: 0.7rem;
				font-family: $font-header;
				font-weight: $font-normal;
				position: absolute;
				bottom: 0%;
				left: 50%;
				transform: translate(-50%, -50%);
				display: none;
			}
			&:hover {
				.text-book,
				.text-order {
					transition: all 0.5s ease-in-out;
					top: 30%;
				}
				.sub-text {
					top: 70%;
					font-style: normal;
					display: block;
				}
			}
		}
	}

	.opening-hours {
		background-color: $color-main;
		color: white;
		font-family: $font-header;
		font-weight: $font-normal;
		width: 100%;
		margin-top: 0.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 4px;
		h3 {
			font-weight: $font-light;
		}
	}
}

// Flickity carousel with opinions

.main-arousel {
	height: 250px;
}
.carousel-cell {
	width: 100%;
	margin: 10px;
	display: flex;
	flex-direction: row;
	img {
		height: 200px;
		width: 200px;
		border-radius: 4px;
		object-fit: cover;
	}
}

.flickity-page-dots {
	bottom: 0px;
}
.flickity-page-dots .dot {
	width: 12px;
	height: 12px;
	opacity: 1;
	background: rgb(229, 224, 224);
}
.flickity-page-dots .dot.is-selected {
	background: rgb(20, 19, 19);
}

.opinions-wrapper {
	padding: 2rem;
	p {
		padding-right: 1rem;
	}
	.name {
		font-style: italic;
	}
}
// Gallery

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

	.img-gallery {
		width: 200px;
		height: 200px;
		position: relative;
		margin-top: 20px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -2;
			border-radius: 5px;
		}

		&:hover {
			img {
				transition: $transition;
				filter: brightness(30%);
			}

			i {
				font-size: 1.5rem;
				color: $color-light;
				display: inline;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				margin-right: 5px;
			}
			.fa-share-nodes {
				left: 70%;
			}
		}
		i {
			display: none;
			position: absolute;
			z-index: 10;
			width: 30px;
			height: 30px;
			&:hover {
				color: $color-danger;
				cursor: pointer;
			}
		}
	}
}
// Footer
footer {
	margin-top: 20px;
	a {
		color: $color-main;
	}
}
